body {
    margin: 0;
    display: block;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 720px) {

}

@media (min-width: 721px) {
    
}
